.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.modal__type-preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  margin: 0;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Group\ 27.png);
  background-color: transparent;
  opacity: 0.4;
  border: none;
}

.modal__close-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  color: #212121;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 16px;
  line-height: 1.1;
  opacity: 70%;
  border-radius: 8px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  padding: 16px 12px;
  border-radius: 8px;
  border-color: #2121214d;
  font-size: 20px;
  box-sizing: border-box;
}

.modal__input:hover {
  border-color: #212121;
  cursor: pointer;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  max-width: 156px;
  padding: 18px 32px;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  font-size: 16px;
  cursor: pointer;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__image-container {
  position: relative;
  background-color: transparent;
  border: none;
}

.modal__close-type-preview {
  top: 0;
  right: -52.5px;
  background-image: url(../images/Close\ Icon.svg);
  position: absolute;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 0.4;
}

.modal__close-type-preview:hover {
  opacity: 1;
  cursor: pointer;
}

.modal__caption {
  color: white;
  background-color: #212121;
  border-radius: 8px;
  padding: 4px 8px;
  margin: 8px 0 0;
  display: inline-block;
}

@media screen and (max-width: 627px) {
  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 0 0 24px;
  }

  .modal__close-type-preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }

  .modal__input {
    max-width: none;
  }

  .modal__submit-btn {
    max-width: 276px;
  }
}
